---
name: Checkov

on:
  pull_request:
    paths:
      - "**.tf"

jobs:
  checkov:
    name: Checkov

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12.3076.0
        with:
          config_file: checkov-config.yml
          output_format: github_failed_only
