---
name: Labeler

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/config/labels.yml

jobs:
  modify-labels:
    name: Modify labels

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.4

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/config/labels.yml
          skip-delete: false
          dry-run: false
